.cart-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 10vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-container .cart-list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-container .cart-list .cart-item-container {
  width: 80%;
}

.cart-container .cart-list .cart-item-container .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: white;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-image {
  width: 10%;
  max-width: 70px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-image img {
  max-width: 100%;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-image button {
  background: #af4f01;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  padding: 3px 6px;
  padding-bottom: 0px;
  border: none;
  outline: none;
  font-family: poppinssemibold;
  border-top-left-radius: 5px;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description {
  width: 88%;
  height: auto;
  position: relative;
  margin-left: 20px;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-details .cart-item-title {
  font-size: 0.8rem;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-details .cart-item-price .original-price {
  font-family: poppinssemibold;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons .delete-button a {
  color: red;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons .delete-button a:hover {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: #a10404;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons .button-contents {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons .button-contents button {
  min-width: 35px;
  height: 100%;
  background: #af4f01;
  color: white;
  font-size: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons .button-contents button:hover {
  background-color: #803a02;
}

.cart-container .cart-list .cart-item-container .cart-item .cart-item-description .cart-item-buttons .button-contents input {
  width: 50px;
  height: 100%;
  text-align: center;
  color: #200f01;
  border: 1px solid #f3cba9;
}

.cart-container .cart-list .cart-item-container .cart-item:not(:first-child) {
  margin-top: 20px;
}

.cart-container .cart-list .cart-item-summary {
  width: 15%;
  min-width: 280px;
  max-width: 300px;
  min-height: 200px;
  margin-left: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: white;
}

.cart-container .cart-list .cart-item-summary .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container .cart-list .cart-item-summary .total-price p {
  font-family: poppinssemibold !important;
}

.cart-container .cart-list .cart-item-summary .delivery-details {
  margin-top: 10px;
  border-top: 1px solid #af4f01;
  padding-top: 10px;
}

.cart-container .cart-checkout {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.cart-container .cart-checkout button {
  width: 15%;
  min-width: 280px;
  max-width: 300px;
  background: #af4f01;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.cart-container .cart-checkout button a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.cart-container .cart-checkout button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=cart.css.map */